.cardbody {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.groupcards,
.cardbody1 {
  background-color: transparent;
  border-style: none;
}

.cardbody1 {
  border-right-style: solid;
  border-left-style: solid;
  border-color: #7f461b;
  border-radius: 0;
}
