.cardbody {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

.card-img-overlay {
  padding: 4px;
}

.groupcards,
.cardbody1 {
  background-color: transparent;
  border-style: none;
  margin-left: 4px;
  margin-right: 4px;
}

.cardbody1 {
  border-right-style: solid;
  border-left-style: solid;
  border-color: #7f461b;
  border-radius: 0;
}

.container {
  padding: 0;
}
