.temp1 {
  color: #7f461b;
  font-weight: 500;
  font-size: 39px;
  margin: 0;
  margin-left: 0;
  margin-bottom: 35px;
  position: relative;
  top: 15%;
  text-align: center;
}

.cardbody {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.day1 {
  color: #7f461b;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  margin-left: 9%;
  margin-top: -2%;
  text-align: left;
  font-family: "Exo", sans-serif;
}

.details1 {
  color: #7f461b;
  position: static;
  font-size: 14px;
  font-family: "Exo", sans-serif;
  margin: 0;
  margin-top: 2px;
  text-align: center;
  text-transform: capitalize;
}

.cardDay1 {
  text-align: center !important;
}
