.picture-day1 {
  color: #7f461b;
  font-size: 80px;
}

.temp1 {
  color: #7f461b;
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.cardbody {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.icon1 {
  height: 100px;
  margin-top: 30px;
  width: 100px;
}

.day1 {
  color: #7f461b;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  margin-left: 9%;
  margin-top: -2%;
  text-align: left;
  font-family: "Exo", sans-serif;
}

.details1 {
  color: #7f461b;
  position: static;
  font-size: 12px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
