.temp4 {
  color: #7f461b;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  margin-left: 0;
  margin-top: 50px;
  text-align: center;
}

.day4 {
  color: #7f461b;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  font-family: "Exo", sans-serif;
}

.picture-day4 {
  color: #7f461b;
  font-size: 38px;
}

.cbody {
  height: 8px;
  padding: 0px 16px;
}

.details4 {
  color: #7f461b;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
