.inputtown {
  border-radius: 5px;
  background: transparent;
  border: 3px inset rgb(197, 194, 194, 0.7);
  font-size: 13px;
  font-style: italic;
  margin-left: 44%;
  width: 20%;
}

.submitButton {
  border-radius: 5px;
  border: 3px inset rgb(197, 194, 194, 0.7);
  font-style: italic;
  font-size: 13px;
  margin-left: 3px;
}
.current {
  border-radius: 5px;
  border: 3px inset rgb(197, 194, 194, 0.7);
  font-style: italic;
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;
}

.tempUnits {
  color: #7f461b;
  font-size: 13px;
  text-align: right;
  margin-top: -500px;
}
