.day1 {
  color: #7f461b;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  margin-left: 9%;
  margin-top: -2%;
  text-align: left;
  font-family: "Exo", sans-serif;
}

.details1 {
  color: #7f461b;
  position: static;
  font-size: 12px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: #7f461b;
  text-align: left;
  font-family: "Lovers Quarrel", cursive;
  font-size: 57px;
  font-weight: 200;
  line-height: 1;
  margin: 0;
  margin-left: 8%;
  margin-top: -4%;
}
